@model Garage2.Models.Member

@{
    ViewBag.Title = "Remove member";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to remove this member?</h3>
<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>

    </dl>
    @if (ViewBag.CanDelete) {
        using (Html.BeginForm()) {

            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    } else {
            <div>
                <p class="alert-warning">Cannot remove a member that has vehicles parked. Please remove their vehicles first.</p>
                @Html.ActionLink("Back to List", "Index")
            </div>
    }
</div>
