@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewBag.Title = "Garage 2.5";
}

<br />
<p>
    @Html.ActionLink("Simple view", "Index")
</p>
<p>
    @Html.ActionLink("Park a new vehicle", "Create")
</p>

<input id="filterInput" type="text" placeholder="Filter" />
<table id="vehicleTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Owner", "DetailedOverview", new { sortOrder = ViewBag.VehicleOwnerSortParm })
            </th>
            <th>
                @Html.ActionLink("Phone", "DetailedOverview", new { sortOrder = ViewBag.VehiclePhoneSortParm })
            </th>
            <th>
                @Html.ActionLink("Email", "DetailedOverview", new { sortOrder = ViewBag.VehicleEmailSortParm })
            </th>
            <th>
                @Html.ActionLink("Register Date", "DetailedOverview", new { sortOrder = ViewBag.VehicleRegisterSortParm })
            </th>
            <th>
                @Html.ActionLink("Type", "DetailedOverview", new { sortOrder = ViewBag.VehicleTypeSortParm })
            </th>
            <th>
                @Html.ActionLink("Size", "DetailedOverview", new { sortOrder = ViewBag.VehicleSizeSortParm })
            </th>
            <th>
                @Html.ActionLink("License plate", "DetailedOverview", new { sortOrder = ViewBag.VehicleLicensePlateSortParm })
            </th>
            <th>
                @Html.ActionLink("Brand", "DetailedOverview", new { sortOrder = ViewBag.VehicleBrandSortParm })
            </th>
            <th>
                @Html.ActionLink("Color", "DetailedOverview", new { sortOrder = ViewBag.VehicleColorSortParm })
            </th>
            <th>
                @Html.ActionLink("Model", "DetailedOverview", new { sortOrder = ViewBag.VehicleModelSortParm })
            </th>
            <th>
                @Html.ActionLink("Wheels", "DetailedOverview", new { sortOrder = ViewBag.VehicleWheelsSortParm })
            </th>
            <th>
                @Html.ActionLink("Parking time", "DetailedOverview", new { sortOrder = ViewBag.VehicleParkingSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr class="vehiclerow">
            @{
                var Duration = ((System.DateTime)ViewBag.Now) - item.CheckInTime;
            }
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.RegisterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WheelAmount)
            </td>
            <td>
                @if (Duration.Days > 0) {
                    <span style="color:#ff6a00">@Duration.Days days</span>
                }
                <span style="color:#ff6a00"> @Duration.Hours hours, @Duration.Minutes minutes</span>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Drive out", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/TableFilter.js"></script>
