@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}

<br />
<p>
    @Html.ActionLink("Park a new vehicle", "Create")
</p>
<input id="filterInput" type="text" placeholder="Filter" />
<table id="vehicleTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                Parking time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr class="vehiclerow">
                @{
                    var Duration = ((System.DateTime)ViewBag.Now) - item.CheckInTime;
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @if (Duration.Days > 0) {
                        <span>@Duration.Days days, </span>
                    }
                    <span style="color:#ff6a00"> @Duration.Hours hours, @Duration.Minutes minutes</span>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Drive out", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Receipt", "Receipt", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/TableFilter.js"></script>
