@model Garage2.Models.Vehicle

@{
    ViewBag.Title = "Receipt";
}

  <h2>Receipt</h2>


<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
           
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>

        <dt>
            Duration Vehicle Parked
        </dt>

        <dd>
            @if (ViewBag.Duration.Days > 0)

        {
            <span>@ViewBag.Duration.Days days, </span>
    }

            <span style="color:#ff6a00"> @ViewBag.Duration.Hours hours, @ViewBag.Duration.Minutes minutes</span>
        </dd>


        <dt>
            Price
        </dt>

        <dd>
            @ViewBag.Price.ToString("0.00") SEK
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>




