@model Garage2.Models.Receipt

@{
    ViewBag.Title = "Receipt";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(reciept => reciept.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(receipt => receipt.Owner)
        </dd>


        <dt>
            @Html.DisplayNameFor(receipt => receipt.LicensePlate)
        </dt>

        <dd>
            @Html.DisplayFor(receipt => receipt.LicensePlate)
        </dd>


        <dt>
            @Html.DisplayNameFor(receipt => receipt.CheckInTime)
        </dt>

        <dd>
            @Html.DisplayFor(receipt => receipt.CheckInTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(receipt => receipt.CheckOutTime)
        </dt>

        <dd>
            @Html.DisplayFor(receipt => receipt.CheckOutTime)
        </dd>

        <dt>
            Parking time
        </dt>

        <dd>
            @if (Model.ParkDuration.Days > 0)
            {
                <span>@Model.ParkDuration.Days days, </span>
            }
            <span style="color:#ff6a00"> @Model.ParkDuration.Hours hours, @Model.ParkDuration.Minutes minutes</span>
        </dd>


        <dt>
            Price
        </dt>

        <dd>
            @Model.Price.ToString("0.00") SEK
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>




